ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body{
  background-color: #efece7;
  background-image: linear-gradient(#ced4da 1px,transparent 0),linear-gradient(90deg,#ced4da 1px,transparent 0);
  background-size: 60px 60px,60px 60px;
}
a{
  text-decoration: none;
}

.px-lg{
  padding-right: 10rem;
  padding-left: 10rem;
}

.cus-border-radio{
  border-radius: 8px 8px 8px 8px;
}

.cus-shadow-border{
  @include extra-shadow
}

.cus-shadow-bottom{
  box-shadow: 0px 3px 0px #000;
}


.icon-border-box{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #000400;
  background-color: #E2EDFA;
}

.no-border-radius{
  border-radius:0;
}

.cus-dot{
  width: 9px;
  height: 9px;
  border: 2px solid #707070;
  border-radius: 50px;
  margin-right: 6px;
}

.cus-dot-bg-pink{
  background-color: #DE4B63;
}

.cus-dot-bg-yellow{
  background-color: #FAA722;
}

.cus-dot-bg-green{
  background-color: #83C51D;
}

.cus-fs-sm{
  font-size: 0.75rem;
}

.btn-gray-dark {
  color: $dark;
  background-color: #a8b0b9;
  border-color: #a8b0b9;
  box-shadow: 0px 0px 0px $dark;
}

.btn-gray-dark:hover {
  color: $dark;
  background-color: $yellow;
  border-color: $dark;
  @include extra-shadow;
}

.btn-blue-dark {
  color: #fff;
  background-color: $primary;
  border-color: #000;
  @include extra-shadow;
}

.btn-blue-dark:hover {
  color: $dark;
  background-color: $yellow;
  border-color: $dark;
}

.link-hover{
    color:$dark;
}

.link-hover:hover{
  color:$primary;
  @include duration-time;
  .bi{
    color: $white;
    @include duration-time;
  }
  .icon-border-box{
    background-color: $primary;
    @include duration-time;
  }
}

.name-link{
  color:#000;
  @include duration-time;
}

.name-link:hover{
  color:$primary;
  text-decoration: underline;
  @include duration-time;
}